nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
  nav button {
    padding: 10px 12px;
    cursor: pointer;
    border: none;
    color: #ffff;
    background-color: #0ba1a1;
    border-radius: 4px;
    font-weight: 700; }
    nav button:hover {
      transition: 0.5s;
      background-color: teal; }

.formContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  padding: 25px; }
  .formContainer h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px; }
  .formContainer form {
    width: 95%;
    margin: auto; }
  .formContainer input {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px; }
  .formContainer select {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px; }
  .formContainer label {
    font-size: 14px; }
  .formContainer button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: #ffff;
    background-color: #0ba1a1;
    font-weight: 700; }
    .formContainer button:hover {
      transition: 0.5s;
      background-color: teal; }

.statusHeading {
  text-align: center;
  padding: 20px;
  font-size: 30px; }

table {
  width: 80%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px; }
  table thead {
    color: teal;
    text-align: left; }
  table tr {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; }

.loading {
  text-align: center;
  padding: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }
